@font-face {
  font-family: 'Yanone Kaffeesatz';
  src: url('./fonts/YanoneKaffeesatz-Bold.ttf');
}

.slide {
  background: #353535; // #6ba9c2;
}

h1, h2, h3 {
  margin: 0;
}

.content {
  margin-top: 2px !important;
  color: white;
  font-family: 'Yanone Kaffeesatz';
  font-weight: strong;
}

pre.sh_sourceCode {
  color: black;
  border-radius: 10px;
  background: #D8D8D8; //#0F1656;
  -moz-box-shadow:    3px 3px 5px 6px #bbb;
  -webkit-box-shadow: 3px 3px 5px 6px #bbb;
  box-shadow:         3px 3px 5px 6px #bbb;
  font-size: 30px;
}

// pink #ea5f86
// green #92b358
// grey #353535

